In [126]:
#importing necessary libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression 
#from sklearn.metrics import r2_score as r2

In [127]:
#importing dataset from system

from google.colab import files
uploaded = files.upload()

Saving Housing_dataset.xlsx to Housing_dataset (1).xlsx

In [128]:
import io
data = pd.read_excel(io.BytesIO(uploaded['Housing_dataset.xlsx']))
data

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1
...,...,...,...,...,...,...,...,...,...
409,2013.000000,13.7,4082.01500,0,24.94155,121.50381,3,803,15.4
410,2012.666667,5.6,90.45606,9,24.97433,121.54310,2,1278,50.0
411,2013.250000,18.8,390.96960,7,24.97923,121.53986,1,503,40.6
412,2013.000000,8.1,104.81010,5,24.96674,121.54067,1,597,52.5
413,2013.500000,6.5,90.45606,9,24.97433,121.54310,2,1097,63.9

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Transaction date                          414 non-null    float64
 1   House Age                                 414 non-null    float64
 2   Distance from nearest Metro station (km)  414 non-null    float64
 3   Number of convenience stores              414 non-null    int64
 4   latitude                                  414 non-null    float64
 5   longitude                                 414 non-null    float64
 6   Number of bedrooms                        414 non-null    int64
 7   House size (sqft)                         414 non-null    int64
 8   House price of unit area                  414 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 29.2 KB

##Checking normality of data using Kolmogorov-Smirnov Test

In [ ]:
from scipy.stats import kstest
#kstest(data, 'norm')

for i in range(2,11): 
  print (data.iloc[i]) 
  a,b= kstest(data.iloc[[i]], 'norm') 
  print ("Statistics", a, "p-value", b)
  if b < 0.05:
    print("The null hypothesis can be rejected") 
  else: 
    print("The null hypothesis cannot be rejected")

##Data is not normally distributed. So we nornalise the data

In [131]:
trans_date=[]
for i in range(0,414):
  trans_date.append(data.iloc[i]["Transaction date"])

In [132]:
data=data.drop(columns="Transaction date")

In [133]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
names = data.columns
names=list(names)

d = scaler.fit_transform(data)
scaled_data = pd.DataFrame(d, columns=names)
scaled_data.head()

,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,0.730594,0.009513,1.0,0.616941,0.719323,0.0,0.157559,0.275705
1,0.445205,0.043809,0.9,0.584949,0.711451,0.5,0.763206,0.314832
2,0.303653,0.083315,0.5,0.671231,0.758896,1.0,0.599271,0.361237
3,0.303653,0.083315,0.5,0.671231,0.758896,0.5,0.430783,0.429481
4,0.114155,0.056799,0.5,0.573194,0.743153,0.0,0.081056,0.323021

In [134]:
#trans_datee=pd.DataFrame({'Transaction date':trans_date})
scaled_data.insert(0, "Transaction date", trans_date, True)
scaled_data['Total price']=scaled_data["House size (sqft)"] * scaled_data["House price of unit area"]
scaled_data

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area,Total price
0,2012.916667,0.730594,0.009513,1.0,0.616941,0.719323,0.0,0.157559,0.275705,0.043440
1,2012.916667,0.445205,0.043809,0.9,0.584949,0.711451,0.5,0.763206,0.314832,0.240281
2,2013.583333,0.303653,0.083315,0.5,0.671231,0.758896,1.0,0.599271,0.361237,0.216479
3,2013.500000,0.303653,0.083315,0.5,0.671231,0.758896,0.5,0.430783,0.429481,0.185013
4,2012.833333,0.114155,0.056799,0.5,0.573194,0.743153,0.0,0.081056,0.323021,0.026183
...,...,...,...,...,...,...,...,...,...,...
409,2013.000000,0.312785,0.627820,0.0,0.114881,0.326504,1.0,0.365209,0.070974,0.025920
410,2012.666667,0.127854,0.010375,0.9,0.512118,0.750162,0.5,0.797814,0.385805,0.307801
411,2013.250000,0.429224,0.056861,0.7,0.571498,0.715225,0.0,0.091985,0.300273,0.027621
412,2013.000000,0.184932,0.012596,0.5,0.420141,0.723959,0.0,0.177596,0.408553,0.072557
413,2013.500000,0.148402,0.010375,0.9,0.512118,0.750162,0.5,0.632969,0.512284,0.324260

##Splitting data into train and test

In [135]:
from sklearn.model_selection import train_test_split

X = scaled_data[['House Age', 'Distance from nearest Metro station (km)', 'Number of convenience stores', 'latitude','longitude','Number of bedrooms','House size (sqft)']].values
y = scaled_data['House price of unit area'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 100)

##Using 3 models and finding the MAE

In [136]:
#Decision Tree 

decision_model = DecisionTreeRegressor()  
decision_model.fit(X_train, y_train) 
predicted_decision_trees = decision_model.predict(X_test)
print ("Mean Absolute Error using Decision Tress :", mean_absolute_error(y_test, predicted_decision_trees))

Mean Absolute Error using Decision Tress : 0.04422726954574087

In [137]:
#Random Forest  

forest_model = RandomForestRegressor(n_estimators=100, max_depth=20)
forest_model.fit(X_train, y_train )
predicted_random_forest = forest_model.predict(X_test)
print("Mean Absolute Error using Random Forest:", mean_absolute_error(y_test, predicted_random_forest))

Mean Absolute Error using Random Forest: 0.03670705886470217

In [138]:
#Multiple Linear 
reg = LinearRegression()
reg.fit(X_train, y_train)
reg_predict = reg.predict(X_test)
print("Mean Absolute Error using Multiple regression:", mean_absolute_error(y_test, reg_predict))

Mean Absolute Error using Multiple regression: 0.04918056112885716

##From the error values, we find that Random forest is the best algorithm for Housing price prediction using a normalised data